<mat-card class="home-card">
    <h1>Menu Principal</h1>
    <div class="actions">
      <button mat-raised-button color="primary" routerLink="/clientes">
        Listar Clientes
      </button>
      <button mat-raised-button color="accent" routerLink="/clientes/new">
        Cadastrar Cliente
      </button>
      <button mat-raised-button color="primary" routerLink="/empresas">
        Listar Empresas
      </button>
      <button mat-raised-button color="accent" routerLink="/empresas/new">
        Cadastrar Empresa
      </button>
    </div>
  </mat-card>